* {
  padding: 0;
  margin: 0;
}
body {
  /* width: 1688px;
  
  height: 1721.0975341796875px; */
  gap: 10px;

  opacity: 1;
  padding-top: 96px;

  padding-bottom: 96px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f3e5d8;
}

.container {
  width: 624px;
  height: 1429.0975341796875px;
  gap: 24px;

  opacity: 1;
  padding: 10px;
  border-radius: 24px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  width: 560px;
  height: 256.0975646972656px;

  opacity: 1;
  margin: 13px;
  border-radius: 7px;
}

.section {
  width: 560px;
}
#description {
  font: outfit;
  color: #5f574e;
}
.pre-box {
  width: 560px;
  height: 155px;
  opacity: 1;
  gap: 8px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 24px;
  background-color: #fff5fa;
}
.pre-box p {
  font: outfit;
  color: #7b284f;
}
.pre-box ul li {
  font: outfit;
  width: 512;
  height: 20;
  gap: 24px;
  padding: 8px;
  width: 474px;

  opacity: 1;
  line-height: 100%;
}

.ingredients {
  width: 560px;

  opacity: 1;
}
.ingredients ul li {
  width: 522px;
  height: 18px;

  opacity: 1;
  font-family: Outfit;
  font-weight: 400;

  font-size: 14px;

  line-height: 40px;

  color: #5f574e;
  margin-left: 22px;
  margin-bottom: 8px;
}
hr {
  width: 560px;
  height: 0.9999999403953552px;
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 1;
  border-width: 1px;
  color: #e4ded8;
}
.instructions {
  width: 560px;
  height: 220px;
  gap: 8px;
  opacity: 1;
}

.instructions ol li {
  width: 560px;
  height: 36px;
  font-weight: 250;
  font-family: outfit;
  margin-left: 16px;
  margin-bottom: 8px;
}

.nutrition p {
  width: 560px;
  height: 40px;

  color: #5f574e;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 100%;
  font-family: outfit;
}
.nutrition table {
  width: 560px;
  height: 192px;
  gap: 8px;

  opacity: 1;
}
.nutrition table,
th,
td {
  width: 560px;
  height: 42;
  gap: 8px;

  opacity: 1;
    box-sizing: border-box;
  padding: 12px;
  border-bottom-width: 1px;
}
td {
  padding: 10px;
  border-bottom: 1px solid #e4ded8;
  width: 560;
  height: 0.9999999403953552;
}

